// Define variables for your color scheme

$primary-light: #e02e0a;
$primary-dark: #a7331c;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0D1226;

$medium-gray: #868DAC;
$light-gray: #B3B8CB;
$ultra-light: #F6F8FA;
$super-light: #e2e5ec;
$light-grey: $light-gray;
