// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "BP-Bold";
  src: font-url("Suisse-BP-Bold") format('woff');
}

@font-face {
  font-family: "BP-Reg";
  src: font-url("Suisse-BP-Reg") format('woff');
}

@font-face {
  font-family: "BP-Thin";
  src: font-url("Suisse-BP-Thin") format('woff');
}

$BP-bold: "BP-Bold";
$BP-reg: "BP-Reg";
$BP-thin: "BP-Thin";

$body-font: "BP-Reg", "Helvetica", "sans-serif";
$headers-font: "BP-Bold", "Helvetica", "sans-serif";
