// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "BP-Bold";
  src: font-url("Suisse-BP-Bold") format('woff');
}

@font-face {
  font-family: "BP-Med";
  src: font-url("Suisse-BP-Med") format('woff');
}

@font-face {
  font-family: "BP-Reg";
  src: font-url("Suisse-BP-Reg") format('woff');
}

@font-face {
  font-family: "BP-Thin";
  src: font-url("Suisse-BP-Thin") format('woff');
}

$BP-bold: "BP-Bold";
$BP-med: "BP-Med";
$BP-reg: "BP-Reg";
$BP-thin: "BP-Thin";

$body-font: "BP-Reg", "Helvetica", "sans-serif";
$headers-font: "BP-Med", "Helvetica", "sans-serif";


h1 {
  font-size:64px !important;
}

h2 {
  font-size:24px !important;
  letter-spacing: 0.05rem;
}

strong {
  font-family: $BP-reg;
}
