// Hide format options and label

#modification_content_after, #text_content {
  height:100%;
  color:$gray;
  font-size:21px;
  line-height: 38px;
  &:focus {
    box-shadow: none !important;
    border:none !important;
  }
}
#text_content {
  background-color:$ultra-light;
  border: none;
}
#text_content a {
  color: $gray;
}
