<div id="sidebar">
  <a href=""><i id="sideArrow" class="fas fa-angle-left"></i></a>
  <div>
    <h2 id="project_title">
      <%= @text.project.title %>
    </h2>
  </div>
  <ul id="list_titles" class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="boutonSide" data-toggle="collapse" data-target="#partie1Collapse" aria-expanded="false" aria-controls="partie1Collapse">
        Partie 1 - Harry Potter et ses parents
      </button>
      <div class="collapse" id="partie1Collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pl-3 pb-1 small">
          <li><a href="#" class="link-dark rounded">Famille d'accueil</a></li>
          <li><a href="#" class="link-dark rounded">Découverte de la magie</a></li>
          <li><a href="#" class="link-dark rounded">Découverte de Poudlard</a></li>
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <button class="boutonSide" data-toggle="collapse" data-target="#partie2Collapse" aria-expanded="false">
        Partie 2 - Poudlard
      </button>
      <div class="collapse" id="partie2Collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pl-3 pb-1 small">
          <li><a href="#" class="link-dark rounded">Hermione</a></li>
          <li><a href="#" class="link-dark rounded">Ron</a></li>
          <li><a href="#" class="link-dark rounded">Dumbledore</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
