<div id="sidebar">
  <a href=""><i id="sideArrow" class="fas fa-angle-left"></i></a>
  <div>
    <h2 id="project_title">
      <%= @text.project.title %>
    </h2>
  </div>

  <ul class="list-unstyled ps-0">
    <li id="list_titles" class="mb-1">
      <button class="boutonSide" data-toggle="collapse" data-target="#partie1Collapse" aria-expanded="true" aria-controls="partie1Collapse">

      </button>

      <div class="collapse" id="partie1Collapse">
        <ul id="subTitles" class="btn-toggle-nav list-unstyled fw-normal pl-3 pb-1 small">
          <li>

          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
