#form-project {
  justify-content: center;
  // margin: 50px 0px;
}

.form-actions {
  justify-content: center;
  display: flex;
}

.dashboard-back {
  position: absolute;
  top: 188px;
  left: 55px;
}
