.btn {
  &:focus{
    box-shadow: 0 0 0 0.2rem $primary-dark;
  }
}

.btn-primary {
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  background: $primary;
  transition: 0.5s ease;
  border: 0.15rem solid transparent;
  font-size: 1.5rem;

  &:hover {
  background: white;
  color: $primary;
  border-color: $primary;
  transition: 0.5s ease;
  }

  &:active {
  background: $primary-light !important;
  border: none!important;
  }

  &:focus {
  background: $primary-light !important;
  border: none!important;
  }

  &:active:focus {
    box-shadow: 0 0 0 0.2rem $primary-dark!important;
  }
}

.btn-ghost {
  color: $primary;
  padding: 8px 0;
  font-weight: lighter;
  transition: 0.5s ease;
}

.btn-ghost:hover {
  color: $primary-dark;
  transition: 0.5s ease;
}

.btn-flat {
  color: $primary;
  transition: 0.5s ease;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  border: 0.15rem solid $primary;
  font-weight: bold;
  font-size: 1.3rem;
}

.btn-flat:hover {
  color: white;
  transition: 0.5s ease;
  background-color: $primary;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-round {
  color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: $primary;
  transition: 0.5s ease;
  border: 2px solid transparent;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    border-color: $primary;
    background-color: white;
    color:$primary;
  }
}

.btn-white {
  color: $primary;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  background: $white;
  transition: 0.5s ease;
  border: 0.15rem solid transparent;
  font-size: 1.5rem;

  &:hover {
  background: $primary;
  border-color: white;
  transition: 0.5s ease;
  color: white;
  }
}
