.card-notif {
  position:relative;
}

.card-notif-modifications {
  margin:31px 0;
}

.card-notif:after {
  content:'';
  height:1px;
  width:100%;
  bottom:-16px;
  background:$super-light;
  position:absolute;
}



.card-notif-head{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .avatar {
    margin-right:8px;
    width:32px;
    height:32px;
  }
  .notif-main-infos {
    display: flex;
    margin:0;
  }
  .notif-head-info {
    display:flex;
    align-items: center;
  }
  .modification-status-pills {
    padding:6px;
    border-radius:4px;
    margin:0 12px;
    display:flex;
    align-items:center;
    justify-content:center;
    h4 {
      font-size:14px;
      margin:0;
      font-family:$BP-reg;
    }
  }
  p {
    font-size: 16px;
    margin:0;
  }
  .subtitle, .notif-head-time, .notif-head-time p {
    font-size: 14px !important;
    color: $light-gray;
    margin:0;
  }
}

.card-notif-body {
  border: 1px solid $super-light;
  border-radius:  2px;
  padding: 16px;
  margin-top: 8px;
  margin-left:40px;
  p {
    font-size: 14px;
    line-height: 25px;
    opacity:  0.7;
  }
}

.dashboard-card {
  width: 345px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:32px;
  border-radius:4px;
  background-size:cover;
  transition:.3s;
  h4 {
    font-style: $headers-font;
    color: white;
  }

  .avatar {
    margin-right:-16px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.46);
    border: 1px solid white;
  }
  &:hover {
    box-shadow: 5px 0px 30px rgba(0,0,0,0.3);
    transition:.3s;
    //transform:scale(1.05);
    transform:translateY(-5px);
  }
}


.card-info-apercu {
  display: flex;
  justify-content: space-between;
  align-items:center;
  p {
    color: white;
    opacity:.8;
    margin:0;
  }
}

.card-project {
  overflow: hidden;
  height: 290px;
  width: 100%;
  background: white;
  background-size: cover;
  border: 1px solid $super-light;
  display: flex;
  align-items: center;
  margin:16px auto;
  border-radius: 2px;
  &:hover .project-img {
    transform:scale(1.15);
    transition:.3s;
  }
  a {
    height: 100%;
    width: 196px;
    overflow:hidden;
    border-radius:2px 0 0 2px;
  }
  .avatar {
    margin-right:-16px;
    border: 1px solid $light-grey;
    &:last-child {
      margin-right:0px;
    }
  }
  .avatar.latest {
    margin-right: 3px;
  }
  &:hover {
    transition:.3s;
    cursor:pointer;
    //transform:scale(1.05);
  }
  a:first-child {
    height: 100%;
  }
}

.card-project .project-img {
  object-fit: cover;
  height:100%;
  transition:.2s;
}
.card-project-info {
  padding:24px;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card-project-header {
  h4 {
    margin-bottom: 0px;
  }
  .card-project-header-infos {
    display: flex;
    justify-content: space-between;
  }
  .date-infos {
    display: flex;
    justify-content: space-between;
  }
  p {
    margin: 8px;
    color: $light-gray;
  }
  p:first-child {
    margin-left:0px;
  }
}


.list-modifications {
  list-style: none;
  margin:8px 0 12px 0px;
  border-radius:4px;
  color:$medium-gray;
  padding:25px;
  background-color: $ultra-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    border-radius: 0px;
    width: 100%;
  }
  span {
    font-size: 14px;
    margin-bottom: 12px;
    font-family:$BP-med;
  }
  li {
    border-left:1px solid $medium-gray;
    font-size:14px;
    color:$medium-gray;
  }
}

.last-modification-user, .last-modification {
  width:100% !important;
  color:$medium-gray;
  &:hover {
    color:$medium-gray;
  }
}

.list-modifications li:before {
  content:'— ';
  margin-left:-1px;
  color:$medium-gray;
}
