.navbar-page-info{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding:24px 0;
  .navbar-body {
    display: flex;
    align-items: flex-end;
  }
  .navbar-page-image {
    width: 88px;
    height: 116px;
    border-radius: 4px;
    margin-right: 32px;
    object-fit: cover;
  }
  h1 {
    font-size: 32px !important;
  }
  .subtitle, .subinfos p, .link, a {
    font-size: 14px;
    color: $light-gray;
    margin:0;
  }

  .link:hover {
    color: black
  }

  .subinfos {
    display: flex;
    p:first-child {
      margin-right:24px;
    }
  }
}
