#sidebar {
  width: 16rem;
  height: 100vh;
  background-color: #141414;
  position: fixed;
  box-sizing: content-box;
  transition: all .5s;
  transform:translateX(0px);
  z-index: 1000;

  #sideArrow {
    position: fixed;
    top: 20px;
    right: -15px;
    background-color: black;
    color: white;
    padding: 7px;
    width: 33px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    z-index: 1000;
    transition-duration: .5s;
    transition-property: rotate, left;
  }

  .boutonSide, a {
    text-decoration: none;
    font-family: $BP-reg;
    color: #ffffff;
    text-align: left;
    background-color:#141414;
    color: white;
    border: none;
  }

  #project_title {
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
    padding: 20px;
    border-bottom: 1px solid $super-light;
    align-items: center;
    opacity: 1;
    transition: display 3s;
  }

  #list_titles {
    padding: 0 20px;
  }

  .boutonSide {
    padding: 5px 0 5px 0;
    font-size: 20px;
    line-height: 24px;
  }

  a {
    font-size: 1rem;
  }

}

#sidebar.collapsed {
  transform:translateX(-100%);
  #sideArrow {
    transition-duration: .5s;
    transition-property: rotate, left;
    transform: rotate(180deg) translateX(-20px);
    position: fixed;
    transform-origin:center;
    background-color: black;
    color: white;
    padding: 7px;
    width: 33px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    z-index: 1000;
  }
  #project_title {
    display: none;
  }
  #list_titles {
    display: none;
  }
}
