<%= simple_form_for [@text, @modification] do |f| %>
  <%= f.input :content_before, as: :hidden, value: @content.to_json %>
  <%= f.input :content_after, as: :hidden %>
<% end %>

<div class="d-none" id="textContent" data-json="<%= @content.to_json %>"></div>

<div id="editorjs"></div>
