<div class="d-flex">
  <%= render "shared/sidebar_text" %>
  <div class="col-8 offset-2">
    <h1 id="text_title"><%= @text.project.title %></h1>
    <div id="textFormulaire">
      <%= render 'texts/form' %>
    </div>
  </div>
  <%= link_to project_discussions_path(@text.project), class: "btn btn-round text-link" do %>
    <i class="far fa-comment-alt"></i>
  <% end %>
</div>
